{{ $eventId := or (os.Getenv "RAR_RACEMAP_EVENT_ID") site.Params.racemapEventId }}
{{ $playerUrl := cond (ne $eventId "") (printf "https://racemap.com/player/%s/" $eventId) "https://racemap.com/player/rad-am-ring-24h-rennrad-2026/" }}
<div class="racemap-player">
  <p class="racemap-note" id="racemap-note">RACEMAP zeigt die im Admin angepinnten Startnummern.</p>
  <iframe
    id="racemap-frame"
    title="RACEMAP Liveplayer Rad am Ring 24h Rennrad 2026"
    src="{{ $playerUrl }}"
    data-base-src="{{ $playerUrl }}"
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin"
    allow="geolocation 'src'"
    allowfullscreen>
  </iframe>
</div>
